@using System.Xml.Linq
@model XElement

@{
    ViewBag.Title = "Uppgift 1 - Utbetalningar per ärende";
}

<h2>Uppgift 1 - Utbetalningar per ärende</h2>

<table table class="table-bordered table_50">
    <thead>
        <tr>
            <th>
                Ärendenummer
            </th>
            <th>
                Datum
            </th>
            <th>
                Status
            </th>
            <th>
                Summa
            </th>
        </tr>
    </thead>
    <tbody>
        @*..detta är en kommentar..*@
        @*iterera igenom alla <BeviljadTid> noder i Model som håller vår xml*@

        @foreach (var kurs in Model.Elements("Utbetalning"))
        {
            <tr>
                <td>
                    @((string)kurs.Element("Arendenummer"))
                </td>
                <td>
                    @((string)kurs.Element("UtbetDatum"))
                </td>
                <td>
                    @((string)kurs.Element("UtbetStatus"))
                </td>
                <td>
                    @((string)kurs.Element("Summa"))
                </td>
            </tr>
        }
    </tbody>
</table>

<table table class="table-bordered table_50">
<thead>
    <tr>
        <th>
            Ärendenummer
        </th>
        <th>
            Totalsumma:
        </th>
        <th>
            Status:
        </th>
        <th>
            Planerad summa:
        </th>
    </tr>
</thead>
<tbody>

    @foreach (var utbet in Model.Elements("Utbetalning"))
    {
    <tr>
        <td>
            @((string)utbet.Element("Arendenummer"))
        </td>
        <td>
            @((string)utbet.Element("Totalsumma"))
        </td>
        <td>
            @((string)utbet.Element("UtbetStatus"))
        </td>
        <td>
            @((string)utbet.Element("Totalbelopp"))
        </td>

    </tr>
    }
</tbody>
</table>