@using System.Xml.Linq
@model XElement

@{
    ViewBag.Title = "Uppgift 1 - Utbetalningar per ärende";
}

<h2>Uppgift 1 - Utbetalningar per ärende</h2><br />

<h2>Ärende 14</h2>
<table table class="table-bordered table_50">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Status
            </th>
            <th>
                Summa
            </th>
        </tr>
    </thead>
    <tbody>
        @*..detta är en kommentar..*@
        @*iterera igenom alla <BeviljadTid> noder i Model som håller vår xml*@

        @foreach (var arende in Model.Elements("Ärende"))
        {
            if ((string)arende.Attribute("ID").Value == "14")
            {
                foreach (var utbetalning in arende.Elements("Utbetalningar").Elements("Utbetalning"))
                {
                    <tr>
                        <td>
                            @((string)utbetalning.Element("UtbetDatum"))
                        </td>


                        <td>
                            @((string)utbetalning.Element("UtbetStatus"))
                        </td>


                        <td>
                            @((string)utbetalning.Element("Summa"))
                        </td>


                    </tr>
                }
                <tr><td>Total Summa:</td><td>@((string)arende.Element("Totalsumma"))</td></tr>
                <tr><td>Utbetald Summa:</td><td>@((string)arende.Element("Utbetalt"))</td></tr>
                <tr><td>Planerad Summa:</td><td> @((string)arende.Element("Planerat"))</td></tr>
            }
        }

    </tbody>
</table>
<br /><br />

<h2>Ärende 15</h2>
<table table class="table-bordered table_50">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Status
            </th>
            <th>
                Summa
            </th>
        </tr>
    </thead>
    <tbody>
        @*..detta är en kommentar..*@
        @*iterera igenom alla <BeviljadTid> noder i Model som håller vår xml*@

        @foreach (var arende in Model.Elements("Ärende"))
        {
            if ((string)arende.Attribute("ID").Value == "15")
            {
                foreach (var utbetalning in arende.Elements("Utbetalningar").Elements("Utbetalning"))
                {
                    <tr>
                        <td>
                            @((string)utbetalning.Element("UtbetDatum"))
                        </td>
                        <td>
                            @((string)utbetalning.Element("UtbetStatus"))
                        </td>
                        <td>
                            @((string)utbetalning.Element("Summa"))
                        </td>
                    </tr>
                }
                <tr><td>Total Summa:</td><td>@((string)arende.Element("Totalsumma").Value)</td></tr>
                <tr><td>Utbetald Summa:</td><td>@((string)arende.Element("Utbetalt").Value)</td></tr>
                <tr><td>Planerad Summa:</td><td> @((string)arende.Element("Planerat").Value)</td></tr>
            }
        }

    </tbody>
</table>
<br /></br>

<h2>Ärende 16</h2>
<table table class="table-bordered table_50">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Status
            </th>
            <th>
                Summa
            </th>
        </tr>
    </thead>
    <tbody>
        @*..detta är en kommentar..*@
        @*iterera igenom alla <BeviljadTid> noder i Model som håller vår xml*@

        @foreach (var arende in Model.Elements("Ärende"))
        {
            if ((string)arende.Attribute("ID").Value == "16")
            {
                foreach (var utbetalning in arende.Elements("Utbetalningar").Elements("Utbetalning"))
                {
                    <tr>
                        <td>
                            @((string)utbetalning.Element("UtbetDatum"))
                        </td>
                        <td>
                            @((string)utbetalning.Element("UtbetStatus"))
                        </td>
                        <td>
                            @((string)utbetalning.Element("Summa"))
                        </td>
                    </tr>
                }
                <tr><td>Total Summa:</td><td>@((string)arende.Element("Totalsumma").Value)</td></tr>
                <tr><td>Utbetald Summa:</td><td>@((string)arende.Element("Utbetalt").Value)</td></tr>
                <tr><td>Planerad Summa:</td><td> @((string)arende.Element("Planerat").Value)</td></tr>
            }
        }

    </tbody>
</table>
