@using System.Xml.Linq
@model XElement

@{
    ViewBag.Title = "Uppgift 1 - Utbetalningar per ärende";
}

<h2>Uppgift 1 - Utbetalningar per ärende</h2><br />

<h2>Ärende 14</h2>
<table table class="table-bordered table_50">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Status
            </th>
            <th>
                Summa
            </th>
        </tr>
    </thead>
    <tbody>
        @*..detta är en kommentar..*@
        @*iterera igenom alla <BeviljadTid> noder i Model som håller vår xml*@

        @foreach (var kurs in Model.Elements("Utbetalning"))
        {
            if ((string)kurs.Element("Arendenummer") == "14")
            {
                <tr>
                    <td>
                        @((string)kurs.Element("UtbetDatum"))
                    </td>
                    <td>
                        @((string)kurs.Element("UtbetStatus"))
                    </td>
                    <td>
                        @((string)kurs.Element("Summa"))
                    </td>
                </tr>
            }
        }
        <tr><td>Total Summa:</td><td>@((string)Model.Element("ArendeFjorton").Element("TotalSumma").Value)</td></tr>
        <tr><td>Utbetald Summa:</td><td>@((string)Model.Element("ArendeFjorton").Element("UtbetaldSumma").Value)</td></tr>
        <tr><td>Planerad Summa:</td><td> @((string)Model.Element("ArendeFjorton").Element("PlaneradSumma").Value)</td></tr>
    </tbody>
</table>
<br /><br />

<h2>Ärende 15</h2>
<table table class="table-bordered table_50">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Status
            </th>
            <th>
                Summa
            </th>
        </tr>
    </thead>
    <tbody>
        @*..detta är en kommentar..*@
        @*iterera igenom alla <BeviljadTid> noder i Model som håller vår xml*@

        @foreach (var kurs in Model.Elements("Utbetalning"))
        {
            if ((string)kurs.Element("Arendenummer") == "15")
            {
                <tr>
                    <td>
                        @((string)kurs.Element("UtbetDatum"))
                    </td>
                    <td>
                        @((string)kurs.Element("UtbetStatus"))
                    </td>
                    <td>
                        @((string)kurs.Element("Summa"))
                    </td>
                </tr>
            }
        }
        <tr><td>Total Summa:</td><td>@((string)Model.Element("ArendeFemton").Element("TotalSumma").Value)</td></tr>
        <tr><td>Utbetald Summa:</td><td>@((string)Model.Element("ArendeFemton").Element("UtbetaldSumma").Value)</td></tr>
        <tr><td>Planerad Summa:</td><td> @((string)Model.Element("ArendeFemton").Element("PlaneradSumma").Value)</td></tr>
    </tbody>
</table>
<br /></br>

<h2>Ärende 16</h2>
<table table class="table-bordered table_50">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Status
            </th>
            <th>
                Summa
            </th>
        </tr>
    </thead>
    <tbody>
        @*..detta är en kommentar..*@
        @*iterera igenom alla <BeviljadTid> noder i Model som håller vår xml*@

        @foreach (var kurs in Model.Elements("Utbetalning"))
        {
            if ((string)kurs.Element("Arendenummer") == "16")
            {
                <tr>
                    <td>
                        @((string)kurs.Element("UtbetDatum"))
                    </td>
                    <td>
                        @((string)kurs.Element("UtbetStatus"))
                    </td>
                    <td>
                        @((string)kurs.Element("Summa"))
                    </td>
                </tr>
            }
        }
        <tr><td>Total Summa:</td><td>@((string)Model.Element("ArendeSexton").Element("TotalSumma").Value)</td></tr>
        <tr><td>Utbetald Summa:</td><td>@((string)Model.Element("ArendeSexton").Element("UtbetaldSumma").Value)</td></tr>
        <tr><td>Planerad Summa:</td><td> @((string)Model.Element("ArendeSexton").Element("PlaneradSumma").Value)</td></tr>
    </tbody>
</table>
